<ul class="al-msg-center clearfix">
  <!--<li uib-dropdown>
    <a href uib-dropdown-toggle>
      <i class="fa fa-bell-o"></i><span>5</span>

      <div class="notification-ring"></div>
    </a>

    <div uib-dropdown-menu class="top-dropdown-menu">
      <i class="dropdown-arr"></i>

      <div class="header clearfix">
        <strong>Notifications</strong>
        <a href>Mark All as Read</a>
        <a href>Settings</a>
      </div>
      <div class="msg-list">
        <a href class="clearfix" ng-repeat="msg in notifications">
          <div class="img-area"><img ng-class="{'photo-msg-item' : !msg.image}" ng-src="{{::( msg.image ||  (users[msg.userId].name | profilePicture) )}}"></div>
          <div class="msg-area">
            <div ng-bind-html="getMessage(msg)"></div>
            <span>{{ msg.time }}</span>
          </div>
        </a>
      </div>
      <a href>See all notifications</a>
    </div>
  </li>-->
  <!--<li uib-dropdown>
    <a href class="msg" uib-dropdown-toggle>
      <i class="fa fa-envelope-o"></i><span>5</span>
      <div class="notification-ring"></div>
    </a>
    <div uib-dropdown-menu class="top-dropdown-menu">
      <i class="dropdown-arr"></i>
      <div class="header clearfix">
        <strong>Messages</strong>
        <a href>Mark All as Read</a>
        <a href>Settings</a>
      </div>
      <div class="msg-list">
        <a href class="clearfix" ng-repeat="msg in messages">
          <div class="img-area"><img class="photo-msg-item" ng-src="{{::( users[msg.userId].name | profilePicture )}}"></div>
          <div class="msg-area">
            <div>{{ msg.text }}</div>
            <span>{{ msg.time }}</span>
          </div>
        </a>
      </div>
      <a href>See all messages</a>
    </div>
  </li>-->
  <li uib-dropdown>
        <a href class="msg" uib-dropdown-toggle>
            <i class="fa fa-shopping-cart"></i><span>{{ itemcount }}</span>
            <div class="notification-ring"></div>
        </a>
        <div uib-dropdown-menu class="top-dropdown-menu">
            <!--<i class="dropdown-arr"></i>-->
            <!--<div class="header clearfix">-->
                <!--<strong>Pedido Actual</strong>-->
                <!--<a href>Editar</a>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default bootstrap-panel">
                        <div class="panel-heading">Prov: <strong>{{ pedido.proveedor }}</strong></div>
                        <div class="panel-body footer-panel">
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Articulo</th>
                                    <th class="align-right">Precio</th>
                                    <th class="align-right">Cant.</th>
                                    <th class="align-right">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in pedido.items">
                                    <td>{{ item.renglon }}</td>
                                    <td class="nowrap">{{ item.descripcion }}</td>
                                    <td class="align-right">{{ item.precio | currency }}</td>
                                    <td class="align-right">{{ item.cantidad }}</td>
                                    <td class="align-right">{{ (item.cantidad * item.precio) | currency }}</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">Subtotal</td>
                                        <td class="align-right">{{ pedido.subtotal | currency }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">IVA 21%</td>
                                        <td class="align-right">{{ pedido.iva1 | currency }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">IVA 10,5%</td>
                                        <td class="align-right">{{ pedido.iva2 | currency }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">Imp. Interno</td>
                                        <td class="align-right">{{ pedido.imp | currency }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><strong>TOTAL</strong></td>
                                        <td class="align-right"><strong>{{ pedido.total | currency }}</strong></td>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>

                        <button type="button" class="btn btn-primary btn-block">Editar</button>

                    </div>
                </div>
            </div>

            <!--<a href>See all messages</a>-->
        </div>
  </li>
</ul>