<div class="row">
    <div class="col-md-12">
        <h5>Proveedor: <strong>{{ pedido.proveedor.nombre }}</strong> </h5>
        <!--//  filtro-->
        <uib-accordion>
            <uib-accordion-group panel-class="bootstrap-panel accordion-panel panel-primary" is-open="true">
                <uib-accordion-heading>
                    Buscar Artículos <i class="fa pull-right ion-navicon-round" ></i>
                </uib-accordion-heading>
                    <form ng-submit="buscarArt()">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label >Marca</label>
                                    <!--<select class="form-control with-search" data-live-search="true" title="Marca..."-->
                                            <!--selectpicker-->
                                            <!--ng-model="filtro.marca"-->
                                            <!--ng-options="item as item.nombre for item in marcas">-->
                                    <!--</select>-->
                                    <ui-select ng-model="filtro.marca"
                                               class="btn-group bootstrap-select form-control"
                                               ng-disabled="false"
                                               append-to-body="true"
                                               search-enabled="true">
                                        <ui-select-match placeholder="Seleccionar Marca...">
                                            {{$select.selected.nombre}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="withSearchItem in marcas | filter: $select.search">
                                            <span ng-bind-html="withSearchItem.nombre"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label >Rubro</label>
                                    <!--<select class="form-control with-search" data-live-search="true" title="Rubro..."-->
                                            <!--selectpicker-->
                                            <!--ng-model="filtro.rubro"-->
                                            <!--ng-options="item as item.nombre for item in rubros">-->
                                    <!--</select>-->
                                    <ui-select ng-model="filtro.rubro"
                                               class="btn-group bootstrap-select form-control"
                                               ng-disabled="false"
                                               append-to-body="true"
                                               search-enabled="true">
                                        <ui-select-match placeholder="Seleccionar Rubro...">
                                            {{$select.selected.nombre}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="withSearchItem in rubros | filter: $select.search">
                                            <span ng-bind-html="withSearchItem.nombre"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-with-icon"> <i class="fa fa-search" aria-hidden="true"></i>Buscar</button>

                    </form>

            </uib-accordion-group>
        </uib-accordion>
        <!--grilla-->
        <div ng-if="cargado" ba-panel  ba-panel-class="with-scroll" ba-panel-title=" Articulos Encontrados: {{ smartTableData.length }}">
            <div class="table-responsive" >
                <div class="form-group select-page-size-wrap ">
                    <label>Filas
                        <select class="form-control show-tick" title="Filas" selectpicker
                                ng-model="smartTablePageSize" ng-options="i for i in [5,10,15,20,25,1000]">
                        </select>
                    </label>
                </div>

                <table ng-if="cargado" class="table table-striped table-hover" st-table="smartTableData" >

                    <thead>
                    <tr class="sortable ">
                        <th class="table-id" st-sort="codarticulo" st-sort-default="true">Cod.</th>
                        <th st-sort="descripcion">Descripcion</th>
                        <th class="align-center" st-sort="unidades_caja" style="width: 10px;">U./Pack</th>
                        <th class="align-right" st-sort="precio_1">Precio Unitario</th>
                        <th class="align-right" st-sort="precio_2">Precio Pack</th>
                        <th class="align-right" st-sort="impuesto">IVA</th>
                        <th class="align-right" st-sort="precio_4">Imp.Int.</th>
                        <th st-sort="fecha_modificacion">Fec.Act.</th>
                        <th ></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th colspan="3">
                            <input st-search="descripcion" placeholder="Filtro por Descripcion..." class="input-sm form-control search-input"
                                   type="search"/>
                        </th>
                        <th colspan="">
                            <input st-search="codarticulo" placeholder="Filtro por Codigo..." class="input-sm form-control search-input"
                                   type="search"/>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="item in smartTableData">
                        <td class="table-id">{{item.codarticulo}}</td>
                        <td class="align-left">{{item.descripcion}}
                            <span ng-show="item.oferta==='S'" class="fa fa-tags text-danger" > Oferta!</span>
                            <p class="small-text">M:{{item.marca.toUpperCase()}} | R:{{item.rubro.toUpperCase()}} {{ pedido.proveedor.codproveedor=='-100'?' | S:'+item.stock2:'' }}</p>
                            <!--<span ng-show="pedido.proveedor.codproveedor=='-100'" class="small-text">STOCK:{{ item.stock2 }}</span>-->
                        </td>
                        <td class="align-center">{{item.unidades_caja}}</td>
                        <td class="align-right">{{item.precio_1 | currency}}</td>
                        <td class="align-right">{{item.precio_2 | currency}}</td>
                        <td class="align-right">{{item.impuesto}}%</td>
                        <td class="align-center">{{item.precio_4?item.precio_4:0}}%</td>
                        <td class="align-center">{{item.fecha_modificacion.substring(0, 10) | date:'dd/MM/yyyy' }}</td>
                        <td>
                            <div class="buttons">
                                <button ng-click="abrirArt(item)" class="btn btn-success btn-xs"><span class="fa fa-shopping-cart"></span></button>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                        </td>
                    </tr>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>