<div class="panel panel-default bootstrap-panel">
    <div class="panel-heading">Prov: <strong>{{ pedido.proveedor }}</strong></div>
    <div class="panel-body footer-panel">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>Articulo</th>
                <th class="align-right">Precio</th>
                <th class="align-right">Imp.Int.</th>
                <th style="text-align: center">Cant.</th>
                <th class="align-right">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in pedido.items">
                <td>{{ item.renglon }}</td>
                <td class="nowrap">{{ item.descripcion }}</td>
                <td class="align-right">{{ item.precio | currency }}</td>
                <td class="align-right">{{ 0.00 | currency }}</td>
                <td  class="align-right" style=" width: 150px">
                    <input style="text-align: right;" ng-model="item.cantidad" type="number" class="form-control" placeholder="0" >
                </td>
                <td class="align-right">{{ (item.cantidad * item.precio) | currency }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">Subtotal</td>
                <td class="align-right">{{ pedido.subtotal | currency }}</td>
            </tr>
            <tr>
                <td colspan="5">IVA 21%</td>
                <td class="align-right">{{ pedido.iva1 | currency }}</td>
            </tr>
            <tr>
                <td colspan="5">IVA 10,5%</td>
                <td class="align-right">{{ pedido.iva2 | currency }}</td>
            </tr>
            <tr>
                <td colspan="5">Imp. Interno</td>
                <td class="align-right">{{ pedido.imp | currency }}</td>
            </tr>
            <tr>
                <td colspan="5"><strong>TOTAL</strong></td>
                <td class="align-right"><strong>{{ pedido.total | currency }}</strong></td>
            </tr>

            </tfoot>
        </table>
    </div>

</div>